<div id="fullpage">
  <section class="vertical-scrolling">
    <h2>About</h2>
    {{ text|safe }}
    <div class="scroll-icon">
      <p>Jump into the registration</p>
      <a href="#fourthSection" class="icon-up-open-big"></a>
    </div>
  </section>

  <section class="vertical-scrolling">
    <div class="active horizontal-scrolling">
      <h2>Page 1</h2>
    </div>
    <div class="horizontal-scrolling">
      <h2>Page 2</h2>
    </div>
    <div class="horizontal-scrolling">
      <h2>Page 3</h2>
    </div>
    <div class="horizontal-scrolling">
      <h2>Page 4</h2>
      <p class="end">Thank you!</p>
    </div>
  </section>

  <section class="vertical-scrolling">
    <h2>Contacts</h2>
    <h3>This is the third section</h3>
  </section>

  <section class="vertical-scrolling">
    <form  id="formz" method="post">
      <legend>Registration</legend>
      <label for="name">Name</label>
      <input id="name" name="name" type="name"/>
      <label for="email">Email:</label>
      <input id="email" name="email" type="email"/>
      <input value="send" type="submit"/>
      <div id="form-message"></div>
    </form>
  </section>
</div>
