<!-- Page Content -->
<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">{{ about.title }}:<br>{{ about.event_ext }}</h2>
                <p class="lead">{{ about.content }}</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{{ about.photo }}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">{{ event.title }}<br>{{ event.title_ext}}</h2>
                <p class="lead">{{ event.content }}</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="{{ event.photo }}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->
{% for pe in past_events %}
<div class="content-section-a">

    <div class="container">

        <div class="row">
            {% if cnt_mod2 %}
            <div class="col-lg-5 col-sm-6">
                {% else %}
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    {% endif %}
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ pe.title }}<br>{{ pe.title_ext }}</h2>
                    <p class="lead">{{ pe.content }}</p>
                </div>
                {% if cnt_mod2 %}
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    {% else %}
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        {% endif %}
                        <img class="img-responsive" src="{{ pe.photo }}" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->
        </div>
        {% endfor %}
