<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myTarget">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Site</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar" >
        <ul class="nav navbar-nav ">
          <li><a href="#section1">About</a></li>
          <li><a href="#section2">Contacts</a></li>
          <li><a href="#section3">Registry</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
