<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      Bootstrap Gallery
    </title>
    <!-- link href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet"-->
    <link href="{{ url_for('bower.static', filename='fullpage.js/dist/jquery.fullpage.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.min.css') }}" rel="stylesheet"> 
  </head>
  
  <body>
    {% include 'header.html' %}
     {% include 'content.html' %}
    
    <script src="{{ url_for('bower.static',filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='fullpage.js/dist/jquery.fullpage.min.js') }}"></script>
    <!-- script src="{{ url_for('bower.static',filename='bootstrap/dist/js/bootstrap.min.js') }}"></script -->
    <script src="{{ url_for('static',filename='js/main.min.js') }}"></script>

  </body>
  <div>
  </div>
</html>
