<div ng-include="'/static/templates/header.html'"></div>
<div class="section-heading-spacer"></div>
<div class="container">
    <div id="about" class="content-section">
        <div class="row">
            <div class="title"></div>
            <div class="content">
                <div class="col-lg-12">
                    <!-- -hr class="section-heading-spacer"-->
                    <div class="clearfix"></div>
                    <!-- a ui-sref="about">About</a-->
                    <carousel interval="vm.myInterval">
                        <slide ng-repeat="image in vm.data.images" active="image.active">
                            <img ng-src="{[image.path]}">
                            <div class="carousel-caption">
                                <markdown markdown-model="image.text"></markdown>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </div>
<div class="section-heading-spacer"></div>
    <div id="events" class="content-section">
        <div class="title"></div>
        <div class="row" ng-repeat="event in vm.data.events" ng-if="$index % 2 == 0">
            <div class="col-lg-6 col-sm-12">
                <post post="{[vm.data.events[$index]]}">
                </post>
            </div>
            <div class="col-lg-6 col-sm-12">
                <post ng-if="vm.data.events[$index+1] != null" post="{[vm.data.events[$index+1]]}">
                </post>
            </div>
        </div>
    </div>
</div>
