<div class="media post">
    <a ui-sref="event({id:vm.id})">
        <div class="media-right media-middle">
            <img ng-src="{[vm.photo]}" class="media-object">
            <div class="date">{[vm.time_start]}
            </div>

        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <h3 class="section-heading">{[vm.title]}</h3>
            </h4>
            <p class="description"><markdown markdown-model="vm.description"></markdown>
        </div>
    </a>
</div>

