<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Angular</title>
  </head>
  <body>
    <script src="{{ url_for('bower.static', filename='angular/angular.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular-route/angular-route.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.config.js') }}"></script> 

    <script src="{{ url_for('static', filename='js/app-route.js') }}"></script> 
    <a href="#/test">test</a>

    <div ng-view>
      </div>
  </body>
</html>
